fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
jose[cryptography]
passlib[bcrypt]
pandas
numpy
google-generativeai
langchain
langchain-community
faiss-cpu
python-pdf
